body{
    margin: 0;
    padding: 0;
    width: 100%;
}

#headerBackground{
    width: 100%;
    background-color: darkslategrey;
}

#headerContent{
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    font-size: 250%;
}

#login{
    padding-top: 7%;
    text-align: center;
}

#footerBackground{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 5%;
    justify-content: center;
    display: flex;
    background-color: darkslategrey;
}

#footerContent{
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

#githubLink{
    color: white;
    text-decoration: none;
}

#githubLink :hover{
    color: black;
    background-color: white;
}